.contactList {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

h2 {
  margin: 0;
  font-size: 16px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px; 
  flex-grow: 1; 
}

.size {
  flex: 1; 
  text-align: center; 
}

.con {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  flex-grow: 1; 
}

.btn {
  display: flex;
  /* justify-content: flex-start; */
  gap: 8px;
  width: 150px;
}
